:root {
  --brand-white: 255 255 255;
  --brand-black: 0 0 0;

  --brand-primary-50: 240 239 251;
  --brand-primary-100: 209 205 241;
  --brand-primary-200: 187 180 235;
  --brand-primary-300: 157 146 226;
  --brand-primary-500: 108 93 211;
  --brand-primary-600: 98 85 192;
  --brand-primary-700: 77 66 150;

  --brand-neutral-100: 188 188 188;
  --brand-neutral-200: 156 156 156;
  --brand-neutral-400: 82 82 82;
  --brand-neutral-500: 39 39 39;
}
