@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply outline-brand-primary-500;
}

/* ================= swiper-js hero ================= */
.swiper-hero-pagination {
  @apply absolute bottom-3 z-10 flex w-full items-center justify-center gap-2;
}

.swiper-hero-pagination-bullet {
  @apply h-2 w-2 rounded-full border border-brand-white bg-brand-neutral-500 opacity-25;
}

.swiper-hero-pagination-bullet-active {
  @apply bg-brand-white opacity-100;
}

/* ===== 640px ===== */
@media screen and (min-width: 40rem) {
  .swiper-hero-pagination {
    @apply bottom-6;
  }

  .swiper-hero-pagination-bullet {
    @apply h-3 w-3;
  }
}

/* ================= swiper-js recommended ================= */
.swiper-button-recommended-next,
.swiper-button-popular-next {
  @apply -right-4;
}

.swiper-button-recommended-prev,
.swiper-button-popular-prev {
  @apply -left-4;
}

.swiper-button-recommended-next,
.swiper-button-recommended-prev,
.swiper-button-popular-next,
.swiper-button-popular-prev {
  @apply absolute top-2/4 z-10 flex h-10 w-10 -translate-y-2/4 cursor-pointer items-center justify-center rounded-full bg-brand-white text-brand-primary-500 shadow-xl transition duration-150 hover:bg-brand-primary-500 hover:text-brand-white;
}

.swiper-button-recommended-disabled,
.swiper-button-popular-disabled {
  @apply opacity-0;
}

/* ===== 640px ===== */
@media screen and (min-width: 40rem) {
  /* .swiper-hero-pagination {
    @apply bottom-6;
  }

  .swiper-hero-pagination-bullet {
    @apply h-3 w-3;
  } */
}

body {
  height: 6000px;
}

/* .active-button {
  @apply rounded-lg bg-brand-primary-500 px-6 py-3 text-brand-white transition duration-150 hover:bg-brand-primary-600;
}

.opacity-button {
  @apply rounded-lg bg-brand-primary-50 px-6 py-3 text-brand-primary-500 transition duration-150 hover:bg-brand-primary-600 hover:text-brand-white;
} */

/* @keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20%, 0);
    transform: translate3d(0, -10%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
} */
